// Variables 

$textBright: #FBFCFC;
$textShade: #D6DBDF;
$textDark: #2E4053;

// Seettins HTML & Body 

html {
	font-family: montserrat, san-serif;
	font-size: 62.5%;
	 body {
	 	.text__nav {
	 		font-size: 1.5em;
	 		font-weight: 500;
	 		font-family: montserrat, san-serif;
	 	}

	 	.nav__indicator {
	 		color: blue;
	 	}

	 	.text__home {
	 		font-weight: 800;
	 		font-size: 1.5em;
	 		color: $textDark;
	 	}

	 	.padding__nav {
	 		padding: 3em;
	 	}

	 	input {
	 		width: 100%
	 	}

	 	textarea {
	 		width: 100%
	 	}

// Nav Text Color 

	 	ul {
	 		li {
	 			a {
	 				color: $textDark;
	 			}
	 		}
	 	}

	 	.main__padding {
	 		padding-top: 15em;
	 		padding-bottom: 15em;
	 	}

	 	.main__img {
	 		padding: 1em;
	 	}

// Settings Elements

	 	div {
	 		.container__fluid__padding {
	 			padding: 0 !important;
	 		}
	 		div {
	 			.text__main {
	 				font-size: 5em;
	 				line-height: 1em;
	 				padding-bottom: 20px;
	 				padding-top: 20px;
	 			}
	 			.text__p {
	 				font-size: 2.8em;
	 				padding-bottom: .3em;
	 			}
	 			.text__p2 {
	 				font-size: 2em;
	 			}

	 			.padding__text__p2 {
	 				padding-top: 5em;
	 				padding-bottom: 5em;
	 			}
	 			.text__white {
	 				color: $textBright;
	 			}
	 		
	 			.portfolio__padding__img {
	 				padding-top: 2em;
	 				padding-bottom: 2em;
	 				position: relative;
	 			}

	 			.text__portafolio {
	 				opacity: 0%;
	 			}


	 			.hover__img:hover {
	 				transition: 1s;
	 				background-color: blue;
	 				.text__portafolio {
	 				      position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                          color: $textBright;
                          opacity: 100%;
                          font-size: 1.5em;
                          font-weight: 800;
                          text-align: center;
	 			      }
	 			}

	 			.hover__opacity:hover {
	 				opacity: 50%
	 			}

	 			.contact__form {
	 				padding-top: 3em;
	 			}

	 		}
	 	}

// Settings Sections

	 	.section__1 {
	 		background-color: black;
	 		padding-top: 5em;
	 		padding-bottom: 5em;
	 	}

	 	.section__2 {
	 		padding-top: 7em;
	 		padding-bottom: 7em;
	 	}
	 	
	 	.section__3 {
	 		background-color: black;
	 		color: $textShade;
	 		padding: 6em;
	 		font-size: 1em;
	 	}

// MediaQueries

	 	@media screen and (max-width: 786px) {
	 		.text__home {
	 			font-weight: 800;
	 		    font-size: 1em;
	 		    color: $textDark;
	 		}
	 		.text__p2 {
	 			text-align: center;
	 		}
	 		.main__padding {
	 		padding-top: 5em;
	 		padding-bottom: 5em;
	 	    }
	 	}

	 	@media screen and (max-width: 576px) {
	 		.text__home {
	 			font-weight: 800;
	 		    font-size: 1em;
	 		    color: $textDark;
	 		}
	 		.text__menu {
	 			font-size: .6em;
	 			padding-top: .5em;

	 		}

	 		.text__align {
	 			text-align: center;
	 		}

	 		.img__display {
	 		}

	 		.main__padding {
	 			padding-top: 1em;
	 			padding-bottom: 3em;
	 		}

	 		div {
	 			div {
	 				.text__main {
	 					font-size: 3.5em;
	 					text-align: center;
	 				}
	 				.img__padding {
	 				    padding-top: 2em;
	 				    padding-bottom: 5em;
	 			    }
	 			}
	 		}
	 	}
	 }
}

